<% if logged_in? %>
  <section class="banner category-banner">
    <div class="row no-gutters">
      <div class="col text-left bg-light-peach">
        <div class="banner-text">
          <h3>WELCOME</h3>
          <h1>Private Posts</h1>
          <p>You are logged in as <%= current_user.username %>. Below are the private post requests. Please review and edit accordingly.</p>
          <div class="pt-4">
            <a href="/post/new">create post</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="category-list">
    <div class="py-5 bg-cream">
      <div class="container ways-to-help">
        <div class="row">
          <% @private_posts.each do |resources| %>
            <div class="col-md-4 mb-7">
              <div class="card mb-3">
                <%= image_tag(resources.media, class: "img-fluid") %>
              </div>
              <p class="business-name"><%= resources.title %></p>
              <p class="body"><%= resources.body %></p>
              <p class="body"><%= resources.url %></p>
              <a href="/post/<%= resources.id %>/edit"><span class="cta">edit</span></a><br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <hr>
<%end%>
