<section class="banner category-banner">
  <div class="row no-gutters">
    <div class="col text-left bg-light-peach">
      <div class="banner-text">
        <h3>CHEERS</h3>
        <h1>Bars & Breweries</h1>
        <p>Cheers to all the happy hours and the rounds of margaritas we’ve shared in the city. Many bars & breweries have closed their doors for public safety reasons, which means service industry staff are left without shifts and without tips.</p>
      </div>
    </div>
  </div>
</section>

<section class="category-list">
  <div class="py-5 bg-cream">
    <div class="container ways-to-help">
      <div class="row">
        <% @bars_breweries.each do |bar| %>
          <div class="col-md-4 mb-7">
            <div class="card mb-3">
              <%= image_tag(bar.media, class: "img-fluid") %>
            </div>
            <p class="business-name"><%= bar.title %></p>
            <p class="body"><%= bar.body %></p>
            <a href="http://<%= bar.url %>" target="_blank"><span class="cta">Be a good neighbor</span> <%= image_tag("arrow_right_small.png", class: "url-arrow") %></a>
            <% if logged_in? %>
              <div><a href="/post/<%= bar.id %>/edit"><span class="cta">edit</span></a></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<hr>
