<section class="banner category-banner">
  <div class="row no-gutters">
    <div class="col text-left bg-light-peach">
      <div class="banner-text">
        <h3>A LITTLE RETAIL THERAPY</h3>
        <h1>Retail Shops</h1>
        <p>With the shelter-in-place ordinance and a significant decrease in foot traffic in San Francisco, brick and mortar stores are having to close up shop. Many are on the brink of bankruptcy and are having to re-evaluate business plans.</p>
      </div>
    </div>
  </div>
</section>

<section class="category-list">
  <div class="py-5 bg-cream">
    <div class="container ways-to-help">
      <div class="row">
        <% @boutiques.each do |boutique| %>
          <div class="col-md-4 mb-7">
            <div class="card mb-3">
              <%= image_tag(boutique.media, class: "img-fluid") %>
            </div>
            <p class="business-name"><%= boutique.title %></p>
            <p class="body"><%= boutique.body %></p>
            <a href="http://<%= boutique.url %>" target="_blank"><span class="cta">Be a good neighbor</span> <%= image_tag("arrow_right_small.png", class: "url-arrow") %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<hr>
