<section class="banner category-banner">
  <div class="row no-gutters">
    <div class="col text-left bg-light-peach">
      <div class="banner-text">
        <h3>XXX</h3>
        <h1>Coffee & Tea</h1>
        <p>Where would we even be without our local coffee shops? Here’s to the baristas and staff who have worked tirelessly to bring us our daily fix of caffeine, masterful pourovers, and iced lattes on a summer afternoon.</p>
      </div>
    </div>
  </div>
</section>

<section class="category-list">
  <div class="py-5 bg-cream">
    <div class="container ways-to-help">
      <div class="row">
        <% @coffee_tea_shops.each do |coffee| %>
          <div class="col-md-4 mb-5">
            <div class="card mb-3">
              <%= image_tag(coffee.media, class: "img-fluid") %>
            </div>
            <p class="business-name"><%= coffee.title %></p>
            <p class="body"><%= coffee.body %></p>
            <a href="http://<%= coffee.url %>" target="_blank"><span class="cta">Be a good neighbor</span> <%= image_tag("arrow_right_small.png", class: "url-arrow") %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<hr>
