<section class="banner category-banner">
  <div class="row no-gutters">
    <div class="col text-left bg-light-peach">
      <div class="banner-text">
        <h3>STAY HEALTHY</h3>
        <h1>Fitness & Well-Being</h1>
        <p>Whether or not you have a regular fitness routine, most of us are moving far less than we're used to due to the Shelter in Place Act. Great news, though. Studios are offering amazing classes online!</p>
      </div>
    </div>
  </div>
</section>

<section class="category-list">
  <div class="py-5 bg-cream">
    <div class="container ways-to-help">
      <div class="row">
        <% @fitness.each do |fitness| %>
          <div class="col-md-4 mb-5">
            <div class="card mb-3">
              <%= image_tag(fitness.media, class: "img-fluid") %>
            </div>
            <p class="business-name"><%= fitness.title %></p>
            <p class="body"><%= fitness.body %></p>
            <a href="http://<%= fitness.url %>" target="_blank"><span class="cta">Be a good neighbor</span> <%= image_tag("arrow_right_small.png", class: "url-arrow") %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<hr>
