<section class="banner category-banner">
  <div class="row no-gutters">
    <div class="col text-left bg-light-peach">
      <div class="banner-text">
        <h3>SUPPORT LOCAL</h3>
        <h1>Other ways to help</h1>
        <p>We are endlessly inspired by the way our community is getting creative with ways to get through these unprecedented times. Here are some ways to support in general, such as donating to relief funds or purchasing gift cards.</p>
      </div>
    </div>
  </div>
</section>

<section class="category-list">
  <div class="py-5 bg-cream">
    <div class="container ways-to-help">
      <div class="row">
        <% @general_ways_to_help.each do |way_to_help| %>
          <div class="col-md-4 mb-7 text-left">
            <div class="card mb-3">
              <%= image_tag(way_to_help.media, class: "img-fluid") %>
            </div>
            <p class="business-name"><%= way_to_help.title %></p>
            <p class="body"><%= way_to_help.body %></p>
            <a href="http://<%= way_to_help.url %>" target="_blank"><span class="cta">Be a good neighbor</span> <%= image_tag("arrow_right_small.png", class: "url-arrow") %></a>
            <% if logged_in? %>
              <div><a href="/post/<%= way_to_help.id %>/edit"><span class="cta">edit</span></a></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<hr>
